<a href="https://colab.research.google.com/github/ChuSeongyeon/NLP_2024/blob/main/3_Indexing_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ“Œ Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|



# âœ‚ï¸ Slicing of List data

        ğŸ‘» You have to deduct one (-1) from the second element (2ë²ˆì§¸ ìš”ì†Œë¥¼ |oo ë¯¸ë§Œ|ìœ¼ë¡œ í•´ì„í•œë‹¤.  

- [:] from the first element to the final element (e.g., 'I love Python!')

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


- [1:5] from Index 1 to Index 4 (e.g., ' love') (5 ë¯¸ë§Œ)


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |


- [:5] from Index 0 to Index 4 (e.g., 'I love') (5 ë¯¸ë§Œ)


| str data | I |   | l | o | v |
|:---------|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 |


- [5:] from Index 5 to the final element (e.g., 'e Python!')

| str data | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|

- [:-3] from forward Index 0 to Backward Index -4 (e.g., 'I love Pyth') (-3 ë¯¸ë§Œ)

| str data | I |   | l | o | v | e |  | P | y | t | h |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

- [-3:] from backward Index -3 to the final element (e.g., 'on!')

| str data | o |n | ! |
|:---------|:-|:-|:-:|
| Backward Indexing|-3| -2|-1|


- [::2] Every other element from the first element (e.g., 'Ilv yho')

| str data | I | l | v |  | y | h | o |
|:---------|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 2 | 4 | 6 | 8 | 10| 12|



# âš¾ âš½ ğŸ€ ğŸ¾ ğŸ¯ It is time to get some exercise!

In [ ]:
#@markdown ğŸš— ğŸš™ Sequence data (str, list, tuple)

#@markdown ##Exercise


str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print(tuple_data)

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [6]:
str_data="temperature"

print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])

t
e
m
p
e
r
a
t
u
r
e

In [ ]:
#@markdown ğŸ“Œ Apply indices to string data

#@markdown Forward Indexing

str_data="I love Python"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I

l
o
v
e

P
y
t
h
o
n

In [12]:
str="I love Python"
print(str[-1])
print(str[-2])
print(str[-3])
print(str[-4])
print(str[-5])
print(str[-6])
print(str[-7])
print(str[-8])
print(str[-9])
print(str[-10])
print(str[-11])
print(str[-12])
print(str[-13])

n
o
h
t
y
P

e
v
o
l

I

In [ ]:
#@markdown ğŸ“Œ Apply indices to string data

#@markdown Backward Indexing

str_data="I love Python"
print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])
print(str_data[-9])
print(str_data[-10])
print(str_data[-11])
print(str_data[-12])
print(str_data[-13])

In [ ]:
str="""she said "Time is money!!"
"""
print(str)

In [ ]:
str="I've had two bananas.I think that it is Sarah's."
print(str)

In [ ]:
strdata = 'Time is money!!'
print(strdata[5])
print(strdata[-2])
print(strdata[0])

In [ ]:
list=[1,2,[3,4,5]]
print(list[0])
print(list[1])
print(list[-1])
print('\n')
print(list[2][1])
print(list[-1][-2])

In [ ]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

In [35]:
list=['apple','banana','grapes','mango']
print(list)
list[0]="shine musket"
print(list)

['apple', 'banana', 'grapes', 'mango']
['shine musket', 'banana', 'grapes', 'mango']

In [ ]:
#@markdown ğŸ“Œ Apply indices to List data

#@markdown ## Replacment by means of using incices

list_data = ['apple', 'banana', 'grapes', 'mango']
list_data[0]="shine musket"

print (list_data)

In [36]:
tuple=('apple','banana','grapes','mango')
tuple[0]="shine musket"
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#@markdown ğŸ‘€ Apply indices to Tupple data

#@markdown ### No Replacement for Tuple data (<font color = 'red'> TypeError</font> will pop up: <font color = 'red'>'tuple' object does not support item assignment)

tuple_data = ('apple', 'banana', 'grapes', 'mango')
tuple_data[0]="shine musket"

print (tuple_data)

In [45]:
str='Time is money!!'
print(str[1:5])
print(str[:7])
print(str[9:])
print(str[:-3])
print(str[-3:])
print(str[:])
print(str[::3])
print(str[::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tesoy
Tm smny!

In [ ]:
#@markdown Slice sequence data

str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # ì²˜ìŒë¶€í„° ëê¹Œì§€ ìŠ¤í…ì„ 2ë¡œ í•´ì„œ ìŠ¬ë¼ì´ì‹± í•˜ê¸°.

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

#ì‹œí€€ìŠ¤ ìë£Œ ì—°ê²°í•˜ê¸° (+)
  -ìë£Œí˜•ì´ ë™ì¼í•œ ë‘ ê°œì˜ ì‹œí€€ìŠ¤ ìë£ŒëŠ” ì—°ê²° ê°€ëŠ¥
  

#ì‹œí€€ìŠ¤ ìë£Œ ë°˜ë³µí•˜ê¸° (*ìˆ«ì)

In [50]:
str1='I love';str2='Python'
print(str1,str2)
print((str1+' ')*5)

I love Python
I love I love I love I love I love

In [ ]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

###  ğŸ‘€ ğŸ¾ **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [ ]:
#@markdown ğŸ’Š **Possibility 1ï¸âƒ£ ğŸ’¡**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

In [ ]:
#@markdown ğŸ’Š **Possibility 2ï¸âƒ£ ğŸ’¡**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

In [51]:
str1='I love';str0=' ';str2='Python'
print(str1+str0+str2)

I love Python

In [ ]:
#@markdown ğŸ’Š **Possibility 3ï¸âƒ£ ğŸ’¡**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

In [52]:
subject = 'BTS'; verb= 'sings'; object = 'butter'
sentence = subject + verb + object * 5
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [53]:
#@markdown ğŸ’Š Possibility 1ï¸âƒ£ ğŸ’¡

subject = 'BTS '; verb= 'sings '; object = 'butter'
sentence = subject + verb + object * 5

In [55]:
str='I love Python'
print(len(str))

13

In [ ]:
#@markdown ì‹œí€€ìŠ¤ ìë£Œ í¬ê¸° ì´í•´í•˜ê¸° (len)

str_data = 'I love Python'
print(len(str_data))

13